@font-face {
  font-family: Cuz;
  src: url(../fonts/supply-thin-701a24.woff2);
  font-weight: 200;
}

@font-face {
  font-family: Cuz;
  src: url(../fonts/supply-light-7e16a2.woff2);
  font-weight: 300;
}

@font-face {
  font-family: Cuz;
  src: url(../fonts/supply-regular-88ac7d.woff2);
  font-weight: normal;
}

@font-face {
  font-family: Cuz;
  src: url(../fonts/supply-medium-546150.woff2);
  font-weight: bold;
}

@font-face {
  font-family: August;
  src: url(../fonts/august.woff2);
  font-weight: bold;
}
